.blue {
background-color: lightgreen}

/*.green {*/
/*    border: 1px solid lightgreen;*/

/*}*/
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29pt;
    /*background-color: lightgreen*/
}

.testSpanError {
    color: mediumvioletred;
    border: 8px mediumvioletred;
}
